<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#35374B] text-white">
    <nav class="flex w-full justify-between p-5 py-2 font-semibold">
      <h1 class="text-3xl text-center text-white text-lg">AI Video - Script</h1>
      <a class="cursor-pointer">Logout</a>
    </nav>

    <div class="mt-10 px-4">
      <h1 class="pb-4">Blog Post Details</h1>

      <div class="bg-[#344955] rounded-lg space-y-6 grid gap-y-4 p-4">
        <div class="grid gap-y-1">
          <div class="py-4">
            <h1 class="font-semibold">Blog Post Tittle 1</h1>
            <p class="text-sm">
              This is the content of the blog post. Lorem ipsum dolor sit
              ament..
            </p>
          </div>

          <hr />

          <div class="py-4">
            <h1 class="font-semibold">Youtube Tittle</h1>
            <p class="text-sm">
              This is the content of the blog post. Lorem ipsum dolor sit
              ament..
            </p>
          </div>

          <hr />

          <div class="py-4">
            <h1 class="font-semibold">Youtube Tittle</h1>
            <a class="text-sm" href="https://www.youtube.com/">
             www.youtube.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
